body{
    background-color: lightskyblue;
    text-align: center;
}


.heading {
    width: 100%;
    margin:0%;
    font-size: 23px;
    box-shadow: 5px 5px 5px grey;
}

.heading_div{
    float: none;
    color: black;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 5px 5px 5px grey;
}

.heading_div2{
    font-size: 18px;
}

.result_para_tag {
    box-shadow: 5px 5px 5px grey;
    font-size: 18px;
}

.copy_right_footer{
    position: fixed;
    background-color: grey;
    width: 100%;
    bottom: 0;
    line-height: 3;
    color: white;
    text-align: center;
}

canvas{
    border: 5px solid white;
    box-shadow: 5px 5px 5px grey;
    border-radius: 20px;
    margin-top: 150px;
}

.power_div{
    border-color: white;
    font-size: 16px;
    box-shadow: 5px 5px 5px #EE7600;
}

#unni{
    color: black;
}

button{
    border-color: white;
}